* {
  margin: 0;
}
body {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Segoe WP, Arial;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  /* 滚动槽 */
  /* 滚动条滑块 */
}
body ::-webkit-scrollbar {
  width: 1px;
  height: 6px;
}
body ::-webkit-scrollbar-track {
  border-radius: 5px;
}
body ::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgba(254, 251, 251, 0.2);
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 900px) {
  .content {
    flex-wrap: wrap;
  }
  .searchbar {
    border: 0;
  }
  .mobile {
    display: none;
  }
  .word span:nth-child(n+5) {
    display: none;
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.content .logo {
  margin-top: 30px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}
.content .logo img {
  width: 100px;
  margin-right: 30px;
}
.content .logo p {
  font: 20px bold;
  color: #0e0e34;
}
.content .search-bar {
  display: flex;
  flex-direction: row;
}
.content .search-bar #q {
  width: 350px;
  height: 18px;
  padding: 9px 7px;
  border: 1px solid #3298fe;
  border-radius: 20px 0 0 20px;
  margin-right: -5px;
  font: 16px arial;
  padding-left: 2em;
}
.content .search-bar #q:focus {
  outline: none;
}
.content .search-bar #ul1 {
  border: 1px solid #3298fe;
  border-top: 0;
  width: 425px;
  margin-left: 14px;
  padding: 0;
  display: none;
  position: absolute;
  background-color: #fff;
  /*让提示框脱离文档流，否则的话，百度一下的按钮会被挤到下面去*/
}
.content .search-bar #ul1 li {
  text-decoration: none;
}
.content .search-bar #ul1 li a {
  line-height: 30px;
  padding: 5px;
  color: #0c0101;
  display: block;
}
.content .search-bar #ul1 li a:hover {
  background: #f8f8f8;
}
.content .search-bar #span-sub {
  width: 82px;
  height: 38px;
  display: inline-block;
}
.content .search-bar #span-sub #sub {
  padding: 0;
  border: 0;
  border-radius: 0 20px 20px 0;
  width: 82px;
  height: 38px;
  background: #38f;
  cursor: pointer;
  line-height: 38px;
  font-size: 16px;
  color: white;
}
.collections .res {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.collections .res .card {
  cursor: pointer;
  align-items: center;
  width: 180px;
  height: 120px;
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  text-align: center;
  font-size: 40px;
}
.collections .res .card img {
  width: 100px;
}
.collections .res .card p {
  margin-top: 12px;
  font-size: 12px;
}
.collections .res .card .prop {
  margin: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.collections .res .card .prop button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 20px;
  padding: 10px;
  border: 1px #aeaeae solid;
  border-radius: 6px;
}
.collections .res .card .prop button:hover {
  background-color: #ECF5FF;
  color: #409EFF;
  border: 1px #409EFF solid;
}
